* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-outline-success,
.btn-outline-danger {
    color: #6c757d !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #6c757d !important;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active
{
    color: #fff !important;
    background-color: #007E33 !important;
    border-color: #007E33 !important;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active
{
    color: #fff !important;
    background-color: #CC0000 !important;
    border-color: #CC0000 !important;
}
